#gradient-canvas {
    position: absolute;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    --gradient-color-1: #384DD6;
    --gradient-color-2: #1A2880;
    --gradient-color-3: #10BFFF;
    --gradient-color-4: #384DD6;
    z-index: 0;
    top: 0;
}

